extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Smart Shopper
    div.Message
      div.Title
        h3 Making the Best
        h1 Shop smarter than ever
      span.Details Access the Smart Shopper Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!
    div.NavButtons
      a(href="/list")
          div.NavButton Shop Now!