extends layout

block layout-content
  div.View.ListView
    h1.Banner Choose What you wish to shop
    div.Message
      div.Title
        h1 Choose now!
      span.Details See the list below!
    
        h3 Food
        h3 Beverages
        h3 Alcohol
        h3 Snacks
        h3 Clothes    
        h3 Vegan menu
        h3 House Cleaning
        h3 Tools
    div.NavButtons
      a(href="/")
          div.NavButton Back to home!
